<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sentiment Analysis{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <div class="sidebar">
        <h2>{{ request.user.username }}'s History</h2>
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        <ul>
            {% for history in user_history %}
            <li>
                {{ history.text|truncatechars:15 }} - {{ history.created_at }} - {{ history.sentiment }}
                <a href="{% url 'view_history' history.id %}" class="btn btn-info">View</a>
                <a href="{% url 'delete_history' history.id %}" class="btn btn-danger">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
